<table class='summary'>
  <tr>
    <th class='type'></th>
    <th class='hours'>
      Hours
    </th>
  </tr>

  <tr>
    <td>
      Lectures
    </td>
    <td class='lecture-count'>
      0
    </td>
  </tr>
  <tr>
    <td>
      Tutorials
    </td>
    <td class='tutorial-count'>
      0
    </td>
  </tr>
  <tr>
    <td>
      Labs
    </td>
    <td class='lab-count'>
      0
    </td>
  </tr>
  <tr>
    <td>
      Total
    </td>
    <td class='total'>
      0
    </td>
  </tr>
</table>
