<h1>Lecture Courses</h1>

<% if @courses.empty? %>
  <div class="alert alert-block">
    No courses to show.
  </div>
<% else %>
  <ul class='nav nav-pills nav-stacked'>
    <% @courses.each do |c| %>
      <li>
        <%= link_to "#{c.code} - #{c.title}", year_lecture_course_path(@year, c) %>
      </li>
    <% end %>
  </ul>
<% end %>
