<div class="row" id='inner-header'>
  <div class='span6 sub-header'>
    <h2>
      Staff Members
    </h2>
  </div>
  <div class='span6 sub-header'>
    <div class='header-actions'>
      <%= back_button(@year.no, year_path(@year)) %>
    </div>
  </div>
</div>

<hr>

<% if @staff.empty? %>
  <div class="alert alert-block">
    No staff to show.
  </div>
<% else %>
  <ul class='nav nav-pills nav-stacked'>
    <% @staff.each do |s| %>
      <li>
        <%= link_to "#{s.login} - #{s.full_name}", year_staff_member_path(@year, s) %>
      </li>
    <% end %>
  </ul>
<% end %>

<hr>

<%= render :partial => 'import_form' %>

<hr>

<%= render :partial => 'lecturers/import_form' %>
