<h1>Staff Members</h1>

<% if @staff.empty? %>
  <div class="alert alert-block">
    No staff to show.
  </div>
<% else %>
  <ul class='nav nav-pills nav-stacked'>
    <% @staff.each do |s| %>
      <li>
        <%= link_to "#{s.login} - #{s.full_name}", year_staff_member_path(@year, s) %>
      </li>
    <% end %>
  </ul>
<% end %>
