<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class='brand' href='<%= root_path %>'>
        <i class='icon-plus'></i> DoCTOR
      </a>
      <ul class="nav pull-right">
        <%= yield :right_nav %>
      </ul>
    </div>
  </div>
</div>
