<div class='clash' data-index="<%= number %>">
  <h5>Clash</h5> <%= link_to "Remove clash", "#", :class => "remove-clash btn btn-mini btn-danger" %>

  <%= link_to "Add another course",  "#", :class => "add-course btn btn-mini" %>
</div>
