<% content_for :right_nav do %>
  <li class='dropdown'>
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Hide Courses
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu hide-course-menu">
      <li class='nav-header'>Term 1</li>
      <% @courses.in_term(1).each do |c| %>
        <li>
          <%= link_to c.display_name, "#", :id => "hide-#{c.code.parameterize}", :class => "hide-course #{hidden_course_status(c)}" %>
        </li>
      <% end %>

      <li class="divider"></li>

      <li class='nav-header'>Term 2</li>
      <% @courses.in_term(2).each do |c| %>
        <li>
          <%= link_to c.display_name, "#", :id => "hide-#{c.code.parameterize}", :class => "hide-course #{hidden_course_status(c)}" %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
