<div class="row" id='inner-header'>
  <div class='span6 sub-header'>
    <h2>
      Edit room
    </h2>
  </div>
  <div class='span6 sub-header'>
    <div class='header-actions'>
      <%= back_button("rooms", year_rooms_path(@year)) %>
    </div>
  </div>
</div>

<hr>

<%= render 'form' %>
