<div class="row" id='inner-header'>
  <div class='span6 sub-header'>
    <h2>
      New room
    </h2>
  </div>
  <div class='span6 sub-header'>
    <div class='header-actions'>
      <%= link_to year_rooms_path(@year), :class => "btn btn-danger" do %>
        <I class='icon-chevron-left'></i> Back to rooms
      <% end %>
    </div>
  </div>
</div>

<hr>

<%= render 'form' %>
