<div class="row" id='inner-header'>
  <div class='span6 sub-header'>
    <h2>
      Timetable for Room <%= @room.no %>
    </h2>
  </div>
  <div class='span6 sub-header'>
    <div class='header-actions'>
      <%= back_button("timetable", year_timetable_slots_path(@year)) %>
    </div>
  </div>
</div>

<hr>

<% @slots.each_pair do |term, allocs| %>
  <%= render :partial => 'timetable_term', :locals => { :term => term, :allocs => allocs } %>
<% end %>
