<tr class="lab-hours">
  <td>
    Lab hours
  </td>
  <% @terms.each do |t| %>
    <% if course.taught_in_term?(t) %>
      <% t.weeks.each do |w| %>
        <td>
          <%= text_field_tag "course_weeks[#{course.code}][labs][#{t.no}][#{w.no}]", find_existing_hours(course, w, nil, "Lab"), :class => "tiny term-#{t.no} lab", :id => "#{t.no}-#{w.no}-lab" %>
        </td>
      <% end %>
      <td></td>
    <% end %>
  <% end %>
</tr>
