<h1>Years</h1>

<% if @years.empty? %>
  <h4>No years to show.</h4>
<% else %>
  <ul>
    <% @years.each do |y| %>
      <li>
        <h4>
          <%= link_to y.no, y %>
        </h4>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Create Year", new_year_path, :class => "btn btn-primary" %>
