<div class="row" id="year-header">
  <div class='span6 sub-header'>
    <h2>Years</h2>
  </div>
  <div class='span6 sub-header'>
    <div class="actions">
      <%= link_to "Create Year", new_year_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>

<hr>

<% if @years.empty? %>
  <h4>No years to show.</h4>
<% else %>
  <% @years.each do |y| %>
    <div class='year'>
      <h3>
        <%= link_to y.no, y %>
      </h3>
    </div>
    <hr>
  <% end %>
<% end %>
