<h1>Degree Classes</h1>

<ul>
  <% @degrees.each do |d| %>
    <li>
      <h4>
        <%= link_to "#{d.degreeyr} - #{d.title}", year_degree_class_path(@year, d) %>
      </h4>
    </li>
  <% end %>
</ul>
