<h1>Degree Classes</h1>

<% if @degrees.empty? %>
  <div class="alert alert-block">
    No degrees to show.
  </div>
<% else %>
  <ul class='nav nav-pills nav-stacked'>
    <% @degrees.each do |d| %>
      <li>
        <%= link_to "#{d.degreeyr} - #{d.title}", year_degree_class_path(@year, d) %>
      </li>
    <% end %>
  </ul>
<% end %>
