<div class="row" id='degree-header'>
  <div class='span6 sub-header'>
    <h2>
      Degree Classes
    </h2>
  </div>
  <div class='span6 sub-header'>
    <div class='actions'>
      <%= link_to year_path(@year), :class => "btn btn-danger" do %>
        <I class='icon-chevron-left'></i> Back to <%= @year.no %>
      <% end %>
    </div>
  </div>
</div>

<hr>

<% if @degrees.empty? %>
  <div class="alert alert-block">
    No degrees to show.
  </div>
<% else %>
  <ul class='nav nav-pills nav-stacked'>
    <% @degrees.each do |d| %>
      <li>
        <%= link_to "#{d.degreeyr} - #{d.title}", year_degree_class_path(@year, d) %>
      </li>
    <% end %>
  </ul>
<% end %>
