<div class="row" id='inner-header'>
  <div class='span6 sub-header'>
    <h2>
      Degree Classes
    </h2>
  </div>
  <div class='span6 sub-header'>
    <div class='header-actions'>
      <%= back_button(@year.no, year_path(@year)) %>
    </div>
  </div>
</div>

<hr>

<% if @degrees.empty? %>
  <div class="alert alert-block">
    No degrees to show.
  </div>
<% else %>
  <ul class='nav nav-pills nav-stacked'>
    <% @degrees.each do |d| %>
      <li>
        <%= link_to "#{d.degreeyr} - #{d.title}", year_degree_class_path(@year, d) %>
      </li>
    <% end %>
  </ul>
<% end %>
